<div>
	<a routerLink="/home">Go back</a>
</div>
<h1>{{postData?.title.rendered}}</h1>
<img src="{{postData?.better_featured_image.media_details.sizes.large.source_url}}" alt="">
<div [innerHTML]="postData?.content.rendered">
	
</div>
