<!-- <pre>{{postItem | json}}</pre> -->
<div *ngIf="postItem.better_featured_image">
	<a routerLink="/post/{{postItem.id}}"><img src="{{postItem.better_featured_image.media_details.sizes.thumbnail.source_url}}" alt=""></a>
</div>
<a routerLink="/post/{{postItem.id}}">
	{{postItem.title.rendered}}
</a>
<p [innerHTML]="postItem.excerpt.rendered"></p>
